<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672369546081-thhkdv4o7f3g1hpgpof9804rvat2mdgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672369546081-thhkdv4o7f3g1hpgpof9804rvat2mdgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDhwPimdcGSTKXEnfvYFqj3PBkbZEV5Tc8</string>
	<key>GCM_SENDER_ID</key>
	<string>672369546081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentimeterClone</string>
	<key>PROJECT_ID</key>
	<string>mentimeterclone</string>
	<key>STORAGE_BUCKET</key>
	<string>mentimeterclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672369546081:ios:2407d678e37f874488ab20</string>
	<key>DATABASE_URL</key>
	<string>https://mentimeterclone-default-rtdb.firebaseio.com</string>
</dict>
</plist>